.room-people-list {
    width: 200px;
    background: #2e3137;
    overflow: auto;
}
.room-people-list-title {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 5px;
    color: rgba(183,183,183,0.82);
    margin-top: 20px;
}
.room-people-list .room-people-list-title:first-child {
    margin-top: 0;
}
