.room-window {
    flex: 1;
    background: #35393e;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.room-content-wrapper {
    flex: 1;
    background: #35393e;
    display: flex;
}
