.user-item-wrapper {
    padding: 0 5px;
    width: 100%;
}

.user-item {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.user-item:hover {
    background: #363940;
}

.user-item__image {
    margin-right: 10px;
}

.user-item--name {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
}
.user-item--name span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.user-popout-menu {
    background: #2e3137;
    border-radius: 7px;
    min-width: 300px;
}

.user-popout-menu > div {
    padding: 20px;
}

.user-popout-menu--user-info {
    background: #202225;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-popout-menu--user-info__profile-image {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}
.user-popout-menu--user-info__name {
    color: white;
    font-weight: 700;
}
.user-popout-menu--user-bio--topic {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(183, 183, 183, 0.82);
    margin-bottom: 7px;
}
