.user-item-wrapper {
    padding: 0 5px;
    width: 100%;
}

.user-item {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.user-item:hover {
    background: #363940;
}

.user-item__image {
    margin-right: 10px;
}

.user-item--name {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
}
.user-item--name span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.user-popout-menu {
    background: red;
}
