.main-app-wrapper {
    height: 100%;

    --lighter-gray: #9f9f9f;
    --light-gray: #484c55;
    --gray: #35393e;
    --dark-gray: #2e3137;
    --darker-gray: #202225;

    --error-red: #a51717;
}

.app-container {
    display: flex;
    height: 100%;
}

.loader {
    background: #333639;
    padding: 80px 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
