.room-selector {
    flex-basis: 80px;
    min-width: 80px;
    background: var(--darker-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.room-divider {
    width: 60%;
    margin: 5px;
    height: 3px;
    min-height: 3px;
    background: var(--light-gray);
    border-radius: 7px;
}

.room-selector-refresh.loading {
    animation: refreshSpin 1s infinite cubic-bezier(0.45, 0.18, 0.07, 1);
}

@keyframes refreshSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
